<!DOCTYPE html>
<html lang="en" ng-app="iamleeFlickr">

<head>

  <!--
      site: iamlee.co.uk
      page: Photo blog page
      role: Fetch data from API using javascript
      skills: Javascrript, Angular, CSS, HTML, Handlebars, Bootstrap
      job list and statuses

      - DONE -
        get feed from flickr
        display feed via angular
        display larger image on click in modal
        style feed in an attractive way
        add second view for photos to show a layout switch

      - TO Do -
        Add Instagram feed option
        link to page from homepage via lab link
        refactor less to sass (site wide)
        refactor page with angular partial views

  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>iamleeadamson { webDeveloper == webDesigner } - See what I see</title>
  <!-- Load compiled less css file -->
  <link href="css/styles.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->


</head>

<body id="page-top" class="photoblog" >

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-name" href="#page-top">iamleeadamson</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="switch-view page-scroll">
            <span class="glyphicon glyphicon-th hideElement" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
          </li>
          <li class="page-scroll">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Portfolio Grid Section -->
  <section id="dynamicSection" class="row" ng-controller="ImgListCtrl">
    <div class="grid">
        <div class="impression" ng-repeat="item in list.items" data-toggle="modal" data-target="#photo{{$index+1}}" >
          <h1 class="hide-text">{{ item.title }}</h1>
          <img class="showImg" ng-src="{{item.media.m | split}}"/><!-- changing image path to get larger images -->

        </div>
    </div>

    <div class="modal fade" id="photo{{$index+1}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  ng-repeat="item in list.items" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="relativeBox">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
              </div>
              <img class="showImg" ng-src="{{item.media.m | split}}"/><!-- changing image path to get larger images -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <footer class="row text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <!--    <h3>Location</h3>
                       <p>London, UK</p> -->
          </div>
          <div class="footer-col col-md-4">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="//www.facebook.com/iamleeadamson" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="//www.twitter.com/iamleeadamson" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="//sg.linkedin.com/in/iamleeadamson" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">

          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; iamleeadamson 2015
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Custom Image gallery JavaScript (Angular) -->
  <script src="js/angular.min.js"></script>
  <script src="js/ng-app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <script>

    $(window).load(function(){
  		//initialize after images are loaded
      var images = $(".showImg");

      images.each(function( i, images ) {
        // check each image width and height property if its portrait add a class
        if(images.naturalHeight > images.naturalWidth) {
          $(images).addClass("portrait");
        }
      });

      $('.switch-view span').click(function(){
        $('#dynamicSection').toggleClass('altView');
        $('.switch-view span').toggleClass('hideElement'); // dont use $(this) as need to change both spans
      });

    });

  </script>


</body>

</html>
